<!doctype html>
<html lang="cs">

<body>

<main>

    <!-- Prehled uzivatelu -->
    <section class="mt-5 py-5">
        <div class="container">
            <div class="row justify-content-center mb-12">
                <div class="col-xl-10 col-xl-12">
                    <div class="card shadow-sm mb-3 p-3" style="min-height: 85vh;">
                        <!-- Tabulka uzivatelu -->
                        <table class="table table-striped">
                            <thead>
                            <!-- Nazvy -->
                            <tr id="sprava_uzivatelu_tab_tr_0">
                                <th scope="col">ID</th>
                                <th scope="col">Uživatelské jméno</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr id="sprava_uzivatelu_tab_tr_{{ user.id_uzivatel }}"> <!-- ID uzivatele -->
                                    <td>{{ user.id_uzivatel }}</td> <!-- ID uzivatele -->
                                    <td>{{ user.uzivatelske_jmeno }}</td> <!-- Jmeno uzivatele -->
                                    <td>{{ user.email }}</td> <!-- email uzivatele -->
                                    <!-- Prava uzivatele -->
                                    <td>
                                        {% if user.id_prava != 1 %}
                                            <label>
                                                <select name="id_prava" class="form-select-sm update-role" data-user-id="{{ user.id_uzivatel }}">
                                                    <option value="1" {% if user.id_prava == 1 %}selected{% endif %}>Admin</option>
                                                    <option value="2" {% if user.id_prava == 2 %}selected{% endif %}>Prodejce</option>
                                                    <option value="3" {% if user.id_prava == 3 %}selected{% endif %}>Uživatel</option>
                                                </select>
                                            </label>
                                        {% else %}
                                            <span>Admin</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
